@CHARSET "UTF-8";

.accordion {
  font-size: calc(16rem/24);
}

.accordion dt {
  background-color: lightslategray;
  border-left: calc(10em / 24) solid darkslategrey;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.25em;
  padding: 0 0.5em;
}

.accordion dd {
  display: none;
  margin-inline-start: 0;
}

.accordion dd.open {
  display: block;
}

.accordion a:any-link,
.accordion dd.open.active {
  display: block;
  padding-bottom: 0.125em;
  padding-left: calc(0.75em + 10px);
  padding-top: 0.125em;
  text-decoration: none;
}

.accordion dd.active,
.accordion a:any-link:hover {
  background-color: orange;
  color: white;
}

.accordion dd.active:hover {
  color: black;
}
